@import '~sanitize.css';
@import '~material-design-icons/iconfont/material-icons.css';

@font-face {
  font-family: 'TT Norms';
  src: url('../fonts/Regular.otf') format('opentype');
}

@font-face {
  font-family: 'TT Norms';
  src: url('../fonts/Bold.otf') format('opentype');
  font-weight: 700;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'TT Norms', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0;
  outline: none;
  padding: 0;
}