@import './colors';

.sidebar {
  box-shadow: 0 0 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  display: flex;
  flex-direction: column;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  width: 400px;
  transition: transform ease .5s;

  header, main, footer { transition: opacity ease .5s; }

  &.hidden {
    transform: translateX(330px);

    header, main, footer {
      opacity: 0;
    }

    button.side-bar-toggle {
      transform: translateX(-330px) rotate(180deg);
    }
  }

  header {
    align-items: center;
    border-bottom: 1px solid $light-grey;
    display: flex;
    font-size: 16px;
    font-weight: 700; 
    padding: 20px;
    min-height: 30px; 
    width: 100%;

    img.logo { height: 30px; }

    h3 {
      color: $primary-color;
      flex-grow: 1;
      margin-left: 20px;
    }

  }
  
  button.side-bar-toggle {
    height: 30px;
    vertical-align: middle; 
    position: absolute;
    top: 20px; left: 350px;
    transition: transform ease .5s;
    z-index: 2;

    i { font-size: 30px; }
  }

  main {
    flex-grow: 1;
    padding: 20px;
  }

  footer {
    border-top: 1px solid $light-grey;
    display: flex;
    justify-content: flex-end;
    padding: 10px;

    button {
      background-color: $primary-color;
      border-radius: 5px;
      font-size: 14px;
      font-weight: 500;
      color: #FFFFFF;
      margin-left: 5px;
      padding: 5px 10px;
    }
  }
}